{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["defaults"]
      }
    }]
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
