{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "targets": {
        "browsers": [">5%"]
      }
    }],
    "flow"
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
